/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  background-color: #F7F1DE;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    font-weight: normal;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 300px;
    flex-shrink: 0;
    background-color: #C4A484;
    opacity: 0.9;
    box-shadow: 9px 4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
}

h1 {
    margin-top: 20px;
    /* color: #B87C4C; */
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.library {
    display: flex;
    flex-wrap: wrap;
}
.book {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 300px;
    border-radius: 10px;
    border: 1px solid #A8BBA3;
    background-color: #A8BBA3;
    padding: 10px;
    margin: 20px;
    box-shadow: 6px 10px 6px -1px rgba(0, 0, 0, 0.1);
}

.title,
.author,
.pages {
    display: grid;
    grid-template-columns: 60px 240px;
    gap: 8px;
    align-items: center;
}

.read {
    display: grid;
    grid-template-columns: 60px 60px 140px;
    gap: 8px;
    align-items: center;
}

.book p:first-child {
    font-weight: 600;
    font-size: 14px;
}

img {
    height: 30px;
}

button {
    flex: 0;
    background-color: #B87C4C;
    height: 80px;
    width: 140px;
    font-size: 18px;
    font-weight: 600;
    padding-top: 8px;
    border-radius: 10px; 
}

.book button {
    height: 40px;
    width: 100px;
    background-color: #C4A484;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
}

form { 
    background-color: #A8BBA3;
    padding: 10px;
    box-shadow: 6px 10px 6px -1px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

form div {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 6px;
    

}

form button {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border-style: none;
    border-radius: 5px;
    max-width: 300px;
    padding-left: 8px;
}